RewriteEngine On

RewriteRule ^course$ course.html [L]
RewriteRule ^course/([^/]+)$ course/$1.html [L]
RewriteRule ^about$ about.html [L]
RewriteRule ^contact$ contact.html [L]
RewriteRule ^resources$ resources.html [L]