RewriteEngine On

RewriteRule ^course/$ course.html [L]
RewriteRule ^course$ course.html [L]
RewriteRule ^course/html-document-layout$ html-document-layout.html [L]
RewriteRule ^course/html-elements$ html-elements.html [L]
RewriteRule ^course/html-lists$ html-lists.html [L]
RewriteRule ^course/html-semantics$ html-semantics.html [L]
RewriteRule ^course/html-styles$ html-styles.html [L]
RewriteRule ^course/introduction-html$ introduction-html.html [L]
RewriteRule ^course/introduction-css$ introduction-css.html [L]
RewriteRule ^course/css-box-model$ css-box-model.html [L]
RewriteRule ^course/css-selectors$ css-selectors.html [L]
RewriteRule ^course/css-text$ css-text.html [L]
RewriteRule ^about$ about.html [L]
RewriteRule ^contact$ contact.html [L]
RewriteRule ^resources$ resources.html [L]
RewriteRule ^resources/css$ resources-css.html [L]
RewriteRule ^resources/html$ resources-html.html [L]

Options -Indexes

<FilesMatch "\.(css|js)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>