
html, body {
    height: 100vh;                
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    background-color: #cfdfe3;    
    font-family: "Open Sans", sans-serif;
}

main {
    display: grid;
    place-items: center;  
    padding: 2rem;
}

main section {
    background: white;
    padding: 2rem;
    border-radius: 6px;
    text-align: left;
    width: auto;
}

main section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

main section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

main section img {
    display: block;
    max-width: 100%;
    margin: 0 auto 1.5rem auto;
    border-radius: 4px;
}

main section button {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}

main section button:hover {
    background: white;
}

footer {
    background: white;
    border-top: 1px solid white;
    text-align: left;
    padding: 1rem;
    font-size: 0.9rem;
}
